<div id="toast-container" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 flex flex-col gap-2">
    <!-- Toasts injected here -->
</div>
<template id="toast-template">
    <div class="toast-message flex items-center px-4 py-3 rounded-lg shadow-lg text-sm font-medium transition-all duration-300 opacity-0 transform -translate-y-4" role="alert">
        <span class="toast-icon ml-2 text-lg"></span>
        <span class="toast-text"></span>
    </div>
</template>
